.frontpage {
	width: 100vw;
	height: 100vh;
	border: 15px solid rgb(159, 201, 161);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.title-container,
#title {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title-container {
	position: relative;
	height: 50vh;
	width: 60vw;
	border: 1px solid rgb(0, 0, 0);
}

#title {
	position: absolute;
	color: rgb(241, 92, 65);
	font-size: 4em;
}
